* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 320px) {
  .vg-page-wrapper {
      width: 100%;
      height: 100vh;
      background-color: #1c1c1c;
      border: 30px solid #000;
  }

  .vg-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .vg-logo {
    width: 75px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #F57C00;
    border-radius: 0 0 37px 0;
  }

  .vg-logo img {
    width: 59px;
    height: 39px;
    display: block;
    margin: 55px auto 0;
  }

  .vg-menu {
    display: none;
  }

  .vg-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #F57C00;
    background-image: url('../images/icon-contact-close.svg');
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
  }



  .vg-contact-info {
    width: 245px;
    height: 164px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .vg-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .vg-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .vg-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -5px;
    margin-top: 7px;
  }

  .vg-social {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-decoration: none;
  }

  .vg-social > img {
    width: 40px;
    height: auto;
    display: block;
    margin: 3px auto 0;
  }

  .vg-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }

  .vg-corner:after {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -23px;
    right: 0;
    background: transparent url('../images/corner.svg') no-repeat;
  }

}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .vg-menu {
    display: table;
    float: left;
    height: 110px; 
    margin-left: 30px;
  }
  .vg-menu a {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #bcbcbc;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 56px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .vg-menu a:first-child {
    margin-left: 0;
  }

  .vg-menu a:hover{
    color: #F57C00;
  }

  .vg-menu a:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #F57C00;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .vg-menu a:hover:before {
    transform: scale(1, 1);
   
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* CLASSES UTILITARIAS */

.vg-title {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

.vg-text-orange {
  color: #F57C00;
}

.vg-text-dark {
  color: #4d4c4c;
}

.vg-text-light {
  color: #bcbcbc;
}

.vg-text-black {
  color: #000;
}

.vg-bg-orange {
  background-color: #F57C00;
}

.vg-bg-dark {
  background-color: #4d4c4c;
}

.vg-bg-light {
  background-color: #bcbcbc;
}

.vg-bg-black {
  background-color: #000;
}

/* CLASSES COMPORTAMENTAIS*/

.vg-is-open {
  display: block;
}

.vg-change-icon{
  background-position-y: -45px;
}