* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeFromLeft {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes scaleRight {
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }

  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
  }

  30% {
    bottom: 15px;
    opacity: 1;
  }

  70% {
    bottom: 10px;
    opacity: 1;
  }

  100% {
    bottom: 5px;
    opacity: 0;
  }
}

@keyframes skeletonBlur {
  to {
    background-position: 250% -150px;
  }
}

@media screen and (min-width: 320px) {
  .vg-page-wrapper,
  .vg-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }

  .vg-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .vg-preloader-inner {
    margin-top: -45px;
    text-align: center;
  }

  .vg-menu-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(245, 124, 0, 0.95);
  }


  .vg-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
  }

  .vg-logo {
    width: 75px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #f57c00;
    border-radius: 0 0 37px 0;
  }

  .vg-logo img {
    width: 59px;
    height: 39px;
    display: block;
    margin: 55px auto 0;
  }

  .vg-menu {
    display: none;
  }

  .vg-btn-menu-mob {
    width: 54px;
    height: 54px;
    display: block;
    border-radius: 50%;
    border: none;
    background-color: #F57C00;
    color: #000;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1250;
    cursor: pointer;
  }

  .vg-btn-menu-mob ion-icon {
    vertical-align: middle;
  }

  .vg-menu-mob {
    width: 240px;
    height: 100vh;
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    padding: 100px 30px 30px;
    z-index: 1200;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  .vg-menu-is-open {
    right: 0;
  }

  .vg-menu-is-closed {
    right: -240px;
  }

  .vg-menu-mob a {
    width: 100%;
    height: 60px;
    display: block;
    line-height: 60px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  }

  .vg-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #f57c00;
    background-image: url("../images/icon-contact-close.svg");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border: none;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  .vg-contact-info {
    width: 245px;
    height: 164px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .vg-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .vg-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .vg-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -5px;
    margin-top: 20px;
  }

  .vg-social {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-decoration: none;
  }

  .vg-social > img {
    width: 40px;
    height: auto;
    display: block;
    margin: 3px auto 0;
  }

  .vg-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }

  .vg-corner:after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -23px;
    right: 0;
    background: transparent url("../images/corner.svg") no-repeat;
  }

  /*---HOME---*/

  .vg-display-text {
    margin-top: 10%;
  }

  #vg-home-presentation {
    background-image: url("../images/vitor-galeti-home.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 49% 29%;
    position: relative;
  }

  .vg-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background-color: #f57c00;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .vg-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }

  .vg-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s linear 1.5s infinite;
  }

  .vg-arrow-down:before {
    content: "";
    width: 2px;
    height: 45px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    animation: lineDown 1.5s ease-out infinite;
    transform-origin: top center;
  }

  /*---HOME - PORTFOLIO ---*/

  .vg-portfolio-navigator {
    width: 145px;
    height: 400px;
    display: table;
    position: absolute;
    left: 15px;
    top: 26vh;
  }

  .vg-navigator-counter {
    width: 100%;
    height: 90px;
    display: block;
    margin-bottom: 60px;
    position: relative;
  }

  .vg-navigator-counter:before {
    content: "";
    display: block;
    width: 35px;
    height: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 3px;
    left: 0;
  }

  .vg-navigator-counter span {
    font-family: "Open Sans", sans-serif;
    font-size: 120px;
    line-height: 90px;
    font-weight: 600;
  }

  .vg-item-navigator {
    width: 100%;
    display: table;
  }

  .vg-item-navigator a {
    width: 20px;
    height: 1px;
    display: block;
    margin: 0 0 80px 35px;
    background-color: #4d4c4c;
  }

  .vg-item-navigator a.vg-item-active {
    background-color: #f57c00;
  }

  .vg-item-navigator a:last-child {
    margin-bottom: 30px;
  }

  .vg-items-next-prev {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
  }

  .vg-items-next-prev > div {
    height: 32px;
  }

  .vg-items-counter {
    font-family: "Open Sans", sans-serif;
    color: #4d4c4c;
    line-height: 32px;
  }

  .vg-item-prev,
  .vg-item-next {
    width: 45px;
    color: #f57c00;
    text-align: center;
    cursor: pointer;
  }

  .vg-items-counter span:nth-child(1) {
    color: #bcbcbc;
  }

  ion-icon {
    font-size: 32px;
  }

  .vg-slider-container {
    display: block;
    overflow: hidden;
  }

  .vg-slider-list {
    width: auto;
    height: 700px;
    display: block;
    list-style: none;
  }

  .vg-slider-list .vg-portfolio-item {
    display: block;
    height: 500px;
    float: left;
    margin-top: calc(26vh - 75px);
  }

  .vg-portfolio-list .vg-portfolio-item {
    margin-bottom: 100px;
  }

  .vg-slider-list .vg-portfolio-item-info {
    width: calc(100% - 75px);
    display: table;
    margin-top: 73px;
    position: relative;
    opacity: 0;
    left: -75px;
  }

  .vg-portfolio-list .vg-portfolio-item-info {
    width: calc(100% - 105px);
  }

  .vg-portfolio-list {
    list-style: none;
  }

  .vg-slider-list .vg-portfolio-item-thumb,
  .vg-portfolio-list .vg-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 75px 0 19px 0;
    position: relative;
  }

  .vg-slider-list .vg-portfolio-item-thumb > button,
  .vg-portfolio-list .vg-portfolio-item-thumb > button {
    margin-top: 17px;
    margin-right: 75px;
    float: right;
  }

  .vg-slider-list .vg-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2c2c2c;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  .vg-portfolio-list .vg-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2c2c2c;
    position: absolute;
    top: 0;
    left: 0;
  }

  .vg-slider-list .vg-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: -75px;
    transform: scale(0);
  }

  .vg-portfolio-list .vg-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: -75px;
  }

  /*---------PORTFOLIO---------*/

  .vg-section-offset-top {
    margin-top: 130px;
  }

  .vg-portfolio-list .vg-portfolio-item:nth-child(odd) .vg-portfolio-item-info {
    text-align: right;
    margin-top: 70px;
  }

  .vg-portfolio-list
    .vg-portfolio-item:nth-child(odd)
    .vg-portfolio-item-info
    button {
    float: right;
  }

  .vg-portfolio-list
    .vg-portfolio-item:nth-child(even)
    .vg-portfolio-item-info {
    margin-left: 105px;
  }

  .vg-portfolio-list .vg-portfolio-item:nth-child(even) > .row {
    flex-direction: row-reverse;
  }

  .vg-portfolio-list
    .vg-portfolio-item:nth-child(even)
    .vg-portfolio-item-thumb
    button {
    float: left;
    margin-left: 75px;
  }

  .vg-portfolio-list
    .vg-portfolio-item:nth-child(even)
    .vg-portfolio-item-thumb
    img {
    left: 75px;
  }

  /*---SOBRE-----*/

  .vg-sobre-info {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
  }

  .vg-sobre-info a {
    text-decoration: none;
    color: inherit;
  }

  .vg-skills-section {
    padding-left: 10%;
  }

  .vg-progress-bar-text {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 26px;
  }

  .vg-progress-cont {
    display: table;
    float: right;
    margin-right: 10px;
  }

  .vg-progress-bar-skills,
  .vg-progress-bar-line {
    position: relative;
    width: 100%;
    background-color: #4d4c4c;
    border-radius: 12px;
  }

  .vg-progress-bar-line {
    height: 6px;
    background-color: #f57c00;
    transition: all 1.6 ease-out;
  }

  /*---DETALHES-----*/

  .vg-hero {
    height: 500px;
    background-image: url('../pages/portfolio/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .vg-hero h1 {
    margin-bottom: 50px;
  }

  .vg-hero-inner {
    height: 500px;
  }

  .vg-hero-inner-content {
    position: relative;
  }

  .vg-hero-inner-content p{
    margin-bottom: 15px;
  }

  .vg-hero-inner-content:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: block;
    position: absolute;
    left: -65px;
    top: -65px;
    box-sizing: content-box;
    padding: 65px;
  }

  .vg-project-stats {
    width: 100%;
    height: 100%;
    display: table;
    border-right: 1px solid #F57C00;
  }

  .vg-post {
    width: 100%;
    display: table;
  }

  .vg-post p{
    margin-bottom: 30px;
  }

  .vg-post-section {
    width: 100%;
    display: table;
    padding: 45px 0;
  }

  .vg-pre-gallery {
    padding-bottom: 350px;
  }

  .vg-post-gallery {
    display: block;
  }

  .vg-post-gallery .container {
    position: relative;
    top: -270px;
  }


  .vg-gallery-frame-container{
    width: 400px;
    display: none;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1100;
  }

  .vg-gallery-frame-inner {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  .vg-gallery-frame-inner .vg-skeleton-loading {
    width: 86%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    position: absolute;
    top: 3%;
    left: 7%;
    z-index: 1250;
  }

  .vg-gallery-frame-inner .vg-skeleton-loading > div {
    width: 90%;
    background-color: #DEDEDE;
    margin: 10% 0;
    border-radius: 8px;
    background-image: url('../images/skeleton-loading-blur.svg');
    background-repeat: no-repeat;
    background-position: -100% -150px;
    animation: skeletonBlur 2s infinite ease-out;
  }

  .vg-gallery-frame-inner .vg-skeleton-loading > div:first-child,
  .vg-gallery-frame-inner .vg-skeleton-loading > div:last-child {
    height: 15%;
  }

  .vg-gallery-frame-inner .vg-skeleton-loading > div:nth-child(2){
    height: 60%;
  }

  .vg-gallery-frame-container .vg-items-next-prev {
    width: 150px;
    margin: 75px auto 0 auto;
  }

  .vg-close-gallery {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #000;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -15px;
    right: -45px;
    z-index: 1200;
  }

  .vg-close-gallery ion-icon {
    color: #F57C00;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
  }

  img.vg-gallery-frame {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1300;
  }

  .vg-gallery-frame-image {
    width: 87%;
    max-width: 87%;
    margin: 0 auto;
    display: block;
    z-index: 1200;
    border-radius: 30px;
    position: relative;
    top: 20px;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .vg-menu-mob, .vg-btn-menu-mob {
    display: none;
  }

  .vg-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }
  .vg-menu a {
    font-family: "Open Sans";
    font-size: 16px;
    color: #bcbcbc;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 56px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .vg-menu a:first-child {
    margin-left: 0;
  }

  .vg-menu a:hover {
    color: #f57c00;
  }

  .vg-menu a:before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #f57c00;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .vg-menu a:hover:before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* BOTÕES */

.vg-btn {
  display: table;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: lowercase;
  position: relative;
}

.vg-btn ion-icon {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -3px;
}

.vg-btn-small {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border-radius: 14px;
  font-size: 11px;
}

.vg-btn-medium {
  height: 38px;
  line-height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 14px;
}

.vg-btn-large {
  height: 45px;
  line-height: 45px;
  padding: 0 35px;
  border-radius: 23px;
  font-size: 16px;
}

.vg-btn-orange {
  background-color: #f57c00;
  color: #1c1c1c;
}

.vg-btn-orange:hover {
  background-color: #da6d00;
  color: #fff;
}

.vg-btn-dark {
  background-color: #151515;
  color: #f57c00;
}

.vg-btn-dark:hover {
  background-color: #2f2f2f;
  color: #fff;
}

/* CLASSES UTILITARIAS */

.vg-title {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

.vg-subtitle {
  font-family: "Open Sans", serif;
  font-weight: 800;
}

.vg-subtitle-small {
  font-size: 22px;
}

.vg-title-small {
  font-size: 26px;
}

.vg-title-medium {
  font-size: 48px;
}

.vg-title-large {
  font-size: 64px;
}

.vg-title-xlarge {
  font-size: 120px;
}

.vg-text-medium {
  font-size: 18px;
}

.vg-text-orange {
  color: #f57c00;
}

.vg-text-dark {
  color: #4d4c4c;
}

.vg-text-light {
  color: #bcbcbc;
}

.vg-text-black {
  color: #000;
}

.vg-text-center {
  text-align: center;
}

.vg-bg-orange {
  background-color: #f57c00;
}

.vg-bg-dark {
  background-color: #4d4c4c;
}

.vg-bg-light {
  background-color: #bcbcbc;
}

.vg-bg-black {
  background-color: #000;
}

.vg-mar-15 {
  margin: 15px;
}

.vg-mar-top-15 {
  margin-top: 15px;
}

.vg-mar-right-15 {
  margin-right: 15px;
}

.vg-mar-bottom-15 {
  margin-bottom: 15px;
}

.vg-mar-left-15 {
  margin-left: 15px;
}

.vg-pad-15 {
  padding: 15px;
}

.vg-pad-top-15 {
  padding-top: 15px;
}

.vg-pad-right-15 {
  padding-right: 15px;
}

.vg-pad-bottom-15 {
  padding-bottom: 15px;
}

.vg-pad-left-15 {
  padding-left: 15px;
}

.vg-mar-30 {
  margin: 30px;
}

.vg-mar-top-30 {
  margin-top: 30px;
}

.vg-mar-right-30 {
  margin-right: 30px;
}

.vg-mar-bottom-30 {
  margin-bottom: 30px;
}

.vg-mar-left-30 {
  margin-left: 30px;
}

.vg-pad-30 {
  padding: 30px;
}

.vg-pad-top-30 {
  padding-top: 30px;
}

.vg-pad-right-30 {
  padding-right: 30px;
}

.vg-pad-bottom-30 {
  padding-bottom: 30px;
}

.vg-pad-left-30 {
  padding-left: 30px;
}

.vg-full-height {
  height: 100vh;
  position: relative;
}

.vg-first-section {
  height: calc(100vh - 30px);
}

.vg-no-padding {
  padding: 0 !important;
}

.vg-img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.vg-page-list {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.vg-page-list > li {
  font-size: 16px;
  line-height: 28px;
  padding-left: 15px;
  position: relative;
}

.vg-page-list > li:before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #f57c00;
}

/* CLASSES COMPORTAMENTAIS*/

.vg-is-open {
  display: block;
}

.vg-change-icon {
  background-position-y: -45px;
}

.vg-fade-out {
  animation: fadeOut 2s ease-out 1s forwards;
}

.vg-fade-from-left {
  animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.vg-scale-right {
  animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.vg-scale-up {
  animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.vg-no-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vg-no-radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}
